.post {
	height: 200px;
	width: 850px;
	margin: 0 0 50px 0;
	border-width: 2px;
	border-radius: 8px;
	border-style: double;
	border-color: #2F354B;
	padding: 25px 50px 75px 100px;
	font: 15px arial, sans-serif;
	background-color: #5367AC;
	opacity: .9;
}

.post:hover {
opacity: 1;
 -o-transition: color .7s ease-out,background 7s ease-in;
 -ms-transition: color .7s ease-out,background 7s ease-in;
 -moz-transition: color .7s ease-out,background 7s ease-in;
 -webkit-transition: color .7s ease-out,background 7s ease-in;
 transition: color .7s ease-out,background 7s ease-in;

}



.avatar {
	border-radius: 50%;
	-webkit-filter: drop-shadow(4px 4px 5px #313D67);
	height: 100px;
	width: 100px;
}
.avatar:hover {
	-webkit-filter: drop-shadow(4px 4px 5px #A9B3D5);
}

.username {
	color: #ebedf5;
	text-align: center;
	-webkit-filter: drop-shadow(4px 4px 5px #313D67);
}

.post_date {
	float: right;
	font-size: 20px;
}

.post_summary {
    border-width: 2px;
	border-radius: 8px;
	border-style: double;
	border-color: #2F354B;
	background-color: #A9B3D5;
	text-align: center;
	height: 30px;  
	width: 500px;
	font-size: 20px;
}
.post_summary:hover {
	-webkit-filter: drop-shadow(4px 4px 5px #A9B3D5);
	-webkit-filter: drop-shadow(4px 4px 5px #313D67);
	 -o-transition: color .7s ease-out,background 7s ease-in;
    -ms-transition: color .7s ease-out,background 7s ease-in;
    -moz-transition: color .7s ease-out,background 7s ease-in;
    -webkit-transition: color .7s ease-out,background 7s ease-in;
    transition: color .7s ease-out,background 7s ease-in;
}