<div class="hero" style="background: url('http://www.tourscampania.com/wp-content/uploads/2015/12/naples_02.jpg') no-repeat center center scroll">
    <p class="start_change">Roam free.   Join our community.</p>
</div>

<div class="places_container">
    <div class="row">
        <% @cities.each do |city| %>
            <div class="col-xs-10 col-xs-offset-1 place">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <img class="mini-location-pic" src="<%=city.photo_url%>" />
                    </div>
                    <div class="col-xs-12 col-md-6 city-sidebar">
                        <a href="/cities/<%=city.id%>"><p class="city-name"><%=city.name%></p></a>
                        <% city.keywords.each do |keyword| %>
                            <p class="keywords">| <%= keyword %> |</p>
                        <% end %>
                    </div>       
                </div>         
            </div>
        <% end %>
    </div>
</div>