<div class="hero">
    <p>Roam free.   Join our community.</p>
</div>

<div class="places_container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 place">
            <div class="col-xs-12 col-sm-6">
                <img class="mini-location-pic" src="<%=asset_path 'seed_pics/denver.jpg'%>">
            </div>
            <div class="col-xs-12 col-sm-4">
                <p class="city-name">Denver, CO</p>
            </div>
            <div class="col-xs-12 col-sm-2">
                <button type="button" class="btn btn-secondary">See Posts</button>
            </div>
        </div>
    </div>
</div>
