<div class="hero">
    <p class="start_change">Roam free.   Join our community.</p>
</div>

<div class="places_container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 place">
            <% @cities.each do |city| %>
                <div class="col-xs-12 col-sm-6">
                    <img class="mini-location-pic" src="<%=city.photo_url%>" />
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-2">
                        <p class="city-name"><%=city.name%></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-2">
                        <p class="summary"><%=city.description%></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-2">
                    <% city.keywords.each do |keyword| %>
                        <p class="keywords"><%=keyword%> </p>
                    <% end %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
    <br>
    <div class="row">
             <div class="col-xs-12 col-sm-2 col-xs-offset-5" >
                        <button type="button" class="btn btn-secondary">See Posts</button>
             </div>
    </div>
    </div>
</div>


