/*Global Tags*/
html, body {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

/*Navigation Tags*/
.navbar {
    background-color: transparent;
    border-bottom: 2px white solid;
    margin-bottom: 0;
    z-index: 3;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 4px;
    border-radius: 0;
    height: 60px;
    padding-top: 5px;
}

.navbar-brand,
.navbar-brand:hover {
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    color: white;
    padding-top: 20px;
    margin-left: 0 !important;
}
.navbar .navbar-nav li a {
    color: white;
    outline: none
}
.navbar-toggle {
    z-index: 2;
}
.navbar-nav li a:hover {
    color: #E972B6;
}
.icon-bar {
    background-color: white;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: inherit;
}

.navbar-nav li a:hover {
    color: white;
}

/*Profile Page*/
.profile-page {
    background: linear-gradient(to bottom right, #7EA5CC, #0B3D78); /* Standard syntax */
    display:block;
    overflow:auto;
    height: 100%;
    padding-top: 50px;
    margin-top: -10px;
}

.profile-box {
    margin-top: 20vh;
    margin-bottom: 5vh;
    border-radius: 30px;
    background-color: white;
    padding: 0 0 30px 0;
}

.profile-head {
    text-align: center;
}

.profile-img {
    position: absolute;
    left: 50%;
    margin: 0 0 0 -100px;
    top: -100px;
    width: 200px;
    height: 200px;
    border: 6px solid white;
    border-radius: 100px;
    background-size: cover;
    background-position: 50%;
}

.user-name {
    margin: 110px 0 15px 0;
    font-size: 2.25vw;
}

.profile-details {
    font-weight: 300;
    font-size: 1.25vw;
}

.profile-body {
    padding: 35px 0 0 0;
    margin-top: 35px;
    border-top: #404040 dashed 5px;
}

/*Posts*/
.post-box {
    padding: 10px 20px 0 20px;
    margin: 0 0 10px 0;
    border: #D8D8D8 solid 1px;
    border-radius: 8px;
    color: #404040;
    background-color: #F1F1F1;
    font-size: .9vw;
}

.post-headline {
    font-size: 1.2vw;
    font-weight: 300;
}

.post-title {
    font-weight: 300;

}

.post-summary {
    font-weight: 100;
    font-style: italic;
}

.post-buttons {
    text-align: right;
    margin: 0 0 10px 0;
}

/** Index Page **/
.hero {
    background-size: cover;
    padding-top: 40vh;
    height: 65vh;
    text-align: center;
    width: 100vw;
}

.hero p {
    color: #ffffff;
    font-weight: 200;
    letter-spacing: 3px;
    font-size: 42px;
}

.hero-city{
    background-size: cover;
    padding-top: 40vh;
    height: 55vh;
    text-align: center;
    width: 100vw;
}

.city-name {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
}

.city-content{
    text-align: center;
}

.city-sidebar {
    text-align: center;
    margin-top: 60px;
}

.city-buttons {
    margin-bottom: 25px;
}

.places_container {
    background: linear-gradient(to bottom right, #ECE9E6, #FFFFFF);
}

.place {
    border: 1px solid #404040;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 30px;
}

.keywords {
    display: inline;
    font-size: 1.75vw;
}

.btn-secondary {
    width: 100%;
    margin-bottom: 10px;
}

.mini-location-pic {
    border-radius: 30px;
    width: 100%;
    /*height: 150px;*/
    overflow: hidden;
    padding: 15px 15px 15px 0px;
    height: 250px;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.edit-post-page {
    background: linear-gradient(to bottom right, #7EA5CC, #0B3D78); /* Standard syntax */
    display:block;
    overflow:auto;
    height: 100%;
    padding-top: 50px;
    text-align: center;
}
